.card-img-top {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 1em;
    
}
.card{
    flex-direction: column;
}

.card-text{
    font-size:xx-small;
    align-items: center;

}



.card-title{
    font-size: small!important;
}

.btn{
    font-size: small;
    margin: 1em;
}