.navBar ul li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.navBar li a {
    display: inline;
    text-decoration: none;
    padding: 8px;
    background-color:pink;
    color: purple;
  }

.logoKawaiiGeeks{
    width: 100px;
    
}